<div>
    <div class="nav-bar">
        <nav-bar></nav-bar>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="myField">
                    <flajer></flajer>
                </div>

            </div>
            <div class="col-6">
                <div class="myField">
                    <poster></poster>
                </div>
            </div>
        </div>
    </div>

    <div class="myFooter">
        <app-footer></app-footer>
    </div>
</div>