.nav-bar {
    margin-top: -100px;
    z-index: 5;
    position: fixed;
    width: 100%;
}

.container {
    margin-top: 100px;
    padding-top: 20px;
}

.myIzracunajBtn {
    margin-top: 10px;
    padding: 0.3em;
}

form {
    border: solid rgb(206, 9, 9) 5px;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 10px;
}

button {
    margin-bottom: 10px;
}

.myField {
    border: solid rgb(204, 3, 3) 5px;
    border-radius: 10px;
    padding: 10px;
}

.myFooter {
    padding-top: 350px;
}